<style>
    *, :after, :before {
        box-sizing: border-box;
    }

    @keyframes ui-spinner-rotation {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .spinner-skeleton {
        z-index: 10;
        position: absolute;
        display: inline-block;
        width: 87px;
        height: 75px;
        left: 50%;
        top: 50%;
        text-align: center;
        margin: -40px 0 0 -42px;
        font-family: open sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    }

    .spinner-skeleton .backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #a9a9a9;
        opacity: .3;
        text-align: center;
        z-index: -1;
    }

    .spinner-skeleton .anim {
        display: inline-block;
        border: 4px solid #ccc;
        animation: ui-spinner-rotation 2s linear infinite;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        border-top-color: #2b5a80;
    }
    .spinner-skeleton .text {
        color: #2b5a80;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.42857;
    }
</style>
<div class="spinner-skeleton">
    <div class="backdrop"></div>
    <div class="anim"></div>
    <div class="text">Loading...</div>
</div>