.average {
    margin: 0 auto;
    width: 90%;
    border: 1px solid #eee;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    position: relative;
}

.average .mark-general {
    color: #2b5a80;
    font-size: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    position: relative;
    padding: 10px;
    text-align: center;
}

.average .mark-aspects {
    color: #999;
    font-size: 13px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.average .mark-general span {
    display: block;
}

.average .mark-aspects dl {
    flex-basis: 200px;
    margin: 0;
}

.average .mark-aspects dt {
    display: inline;
}

.average .mark-aspects dt:after {
    content: ":";
}

.average .mark-aspects dd {
    display: inline;
    margin-left: 5px;
}

.average .last-updated {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 10px;
}

.average .traveled-with {
    margin: 10px;
    color: #2b5a80;
    font-weight: bold;
    font-size: 14px;
}

.filter-sort {
    margin: 20px auto 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.filter-sort .col1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.filter-sort .col2 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: right;
}

.error {
    color: red;
    font-size: 36px;
    text-align: center;
    margin: 30px 20px;
}

.load-more {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}