.sort-link {
    color: #2b5a80;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}

.sort-link.asc:after {
    content: "\2191";
    margin-left: 5px;
}

.sort-link.desc:after {
    content: "\2193";
    margin-left: 5px;
}