.review {
    display: block;
    border: 1px solid rgba(0, 0, 157, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 5px;
    position: relative;
}

.review + .review {
    margin-top: 20px;
}

.review .title {
    border-bottom: 1px solid rgba(0, 0, 200, 0.2);
}

.review h3 {
    margin: 0 0 5px 0;
    color: #2b5a80;
}

.review .text {
    margin: 10px 0;
    font-size: 14px;
}

.review .additional-info {
    margin-top: 10px;
    border-top: 2px solid rgba(0, 0, 200, 0.2);
}

.review .user {
    color: #456312;
    font-size: 14px;
}

.entry-date {
    color: #000;
    font-size: 12px;
}

.travel-date {
    color: #000;
    font-size: 12px;
}

.review .traveled-with {
    position: absolute;
    bottom: 2px;
    right: 10px;
    color: #2b5a80;
    font-size: 14px;
    font-weight: bold;
}